#/annotated/
.snakemake/
benchmarks/
logs/
ref_seq/
resources/snpeff/
vcfs/*
!vcfs/.gitkeep
annotated/*
!annotated/vcfs_sample_split/multiqc_report.html
!annotated/vcfs/multiqc_report.html
temp/
vcfs_sample_split/
